<?xml version="1.0"?>
<robot name="hello_robot">

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <box size=".023 .026 0.005" />
      </geometry>
      <material name="white"/>
    </visual>
  </link>

  <link name="right_front_wheel">
    <visual>
      <geometry>
        <cylinder radius=".00325" length=".00325"/> 
      </geometry>
      <origin rpy="1.57075 0 0" xyz=".009 -.0145 -0.003"/>
    </visual>
  </link>

  <joint name="base_to_right_front_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="right_front_wheel"/>
  </joint>

  <link name="right_rear_wheel">
    <visual>
      <geometry>
        <cylinder radius=".00325" length=".00325"/> 
      </geometry>
      <origin rpy="1.57075 0 0" xyz="-.009 -.0145 -0.003"/>
    </visual>
  </link>

  <joint name="base_to_right_rear_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="right_rear_wheel"/>
  </joint>

  <link name="left_front_wheel">
    <visual>
      <geometry>
        <cylinder radius=".00325" length=".00325"/> 
      </geometry>
      <origin rpy="1.57075 0 0" xyz=".009 .0145 -0.003"/>
    </visual>
  </link>

  <joint name="base_to_left_front_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="left_front_wheel"/>
  </joint>

  <link name="left_rear_wheel">
    <visual>
      <geometry>
        <cylinder radius=".00325" length=".00325"/> 
      </geometry>
      <origin rpy="1.57075 0 0" xyz="-.009 .0145 -0.003"/>
    </visual>
  </link>

  <joint name="base_to_left_rear_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="left_rear_wheel"/>
  </joint>

</robot>